# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/paystream?retryWrites=true&w=majority

# Oracle Private Key (REQUIRED for off-ramp)
ORACLE_PRIVATE_KEY=0x0ef817ad06ac1331afb2eed6f85572c862729fa591f3224ad27d9c684a947900

# Smart Contract Addresses (deployed on HeLa)
VITE_TREASURY_CONTRACT=0xC6B9dB5a99F21926501A3a52b992692488fB28d7
VITE_STREAM_CONTRACT=0x18453dC8F01fD9f662b98573f0DE1a270817f5bB
VITE_OFFRAMP_CONTRACT=0x561C4f1D1E7472D4C58cb379F8cFA25E064f15Cf

# Backend & Frontend Configuration
CORS_ORIGIN=http://localhost:8351
VITE_API_URL=https://paystream.softkernel.tech
VITE_ADMIN_ADDRESS=0x95e38e215CDe9655f6cF5E89E89d00e0BB62144a